// https://coolors.co/404e4d-fffbfe-80cfa9-f27059-bd1e1e

$background: #FFFBFE;
$backgroundAccent: #404E4D;

$primaryColor: #F27059;
$primaryAccent: #BD1E1E;

$primaryTextColor: #000000;
$primaryTextAccentColor: #80CFA9;
